body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #102040;
    color: #ffffff; 
}

.namespace {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}


.header {
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #ffffff;
}

.header p {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #dcdcdc; 
}

.header hr {
    width: 80px;
    border: 2px solid #ff2f2f; 
    margin: 10px auto;
}


.reviewers ,.publication ,.technical ,.event {
    text-align: center;
    font-size: 1.8em;
    margin: 40px 0 20px;
    color: #ffffff; 
}

.namespace div[class^="namespace_r"] {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.namespace div[class^="namespace_r"] div {
    background-color: #1b2845; 
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    flex: 0 0 calc(33.333% - 20px);
    min-width: 200px;
    max-width: 300px;
}

.namespace h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #ffffff; 
}

.namespace p {
    font-size: 1em;
    color: #dcdcdc; 
}

.box-namespace {
    clip-path: polygon(0 0, 96% 0, 100% 20%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0% 30%);
}